system/virtualpost/libraries/shipping/canadapost/ship/shipment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="shipment" targetNamespace="http://www.canadapost.ca/ws/soap/shipment/v8" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.canadapost.ca/ws/soap/shipment/v8" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>
        - Added customer-request-id to Create Shipment, to be used by Get Shipments.
        - Added promo-code to Create Shipment.
        - Added provide-pricing-info and provide-receipt-info flags to Create Shipment.
        - Added pre-authorized-payment to Create Shipment.
        - Get Shipment Receipt returns credit card receipt details or supplier account receipt details.
        - Modified Get Shipments:
            - added provide-shipment-info in request to get a structured list similiar to Get Shipment.
            - added customer-request-id in request that matches the change to the create request.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.canadapost.ca/ws/soap/shipment/v8">

            <xsd:element name="create-shipment-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="mobo" type="tns:CustomerIDType" minOccurs="0" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="shipment" type="tns:ShipmentType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="create-shipment-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="shipment-info" type="tns:ShipmentInfoDetailType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-shipment-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="mobo" type="tns:CustomerIDType" minOccurs="0" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="shipment-id" type="tns:ShipmentIDType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-shipment-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="shipment-info" type="tns:ShipmentInfoType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-shipment-details-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="mobo" type="tns:CustomerIDType" minOccurs="0" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="shipment-id" type="tns:ShipmentIDType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-shipment-details-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="shipment-details" type="tns:ShipmentDetailsType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-shipment-price-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="mobo" type="tns:CustomerIDType" minOccurs="0" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="shipment-id" type="tns:ShipmentIDType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-shipment-price-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="shipment-price" type="tns:ShipmentPriceType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-groups-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="mobo" type="tns:CustomerIDType" minOccurs="0" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-groups-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="groups" type="tns:GroupsType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-shipments-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType"/>
                        <xsd:element name="mobo" type="tns:CustomerIDType" minOccurs="0"/>
                        <xsd:element name="locale" type="tns:locale" minOccurs="0"/>
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0"/>
                        <xsd:element name="provide-shipment-info" type="xsd:boolean" fixed="true" minOccurs="0"/>
                        <xsd:element name="shipment-search-key">
                            <xsd:complexType>
                                <xsd:choice>
                                    <xsd:element name="regular-shipping-parameters" type="tns:regular-shipping-parameters"/>
                                    <xsd:element name="no-manifest-shipping-parameters" type="tns:no-manifest-shipping-parameters"/>
                                    <xsd:element name="tracking-pin" type="tns:TrackingPINType"/>
                                    <xsd:element name="customer-request-id" type="tns:CustomerRequestIdType" />
                                </xsd:choice>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="regular-shipping-parameters">
                <xsd:choice>
                    <xsd:element name="group-id" type="tns:GroupIDType"/>
                    <xsd:element name="manifest-id" type="tns:ShipmentIDType"/>
                </xsd:choice>
            </xsd:complexType>

            <xsd:complexType name="no-manifest-shipping-parameters">
                <xsd:all>
                    <xsd:element name="noManifest" type="xsd:boolean" fixed="true" />
                    <xsd:element name="date" type="xsd:date" minOccurs="0"/>
                    <xsd:element name="limit" type="tns:LimitType" minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:element name="get-shipments-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="shipments" type="tns:ShipmentsType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="void-shipment-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="mobo" type="tns:CustomerIDType" minOccurs="0" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="shipment-id" type="tns:ShipmentIDType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="void-shipment-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="void-shipment-success" type="xsd:boolean" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-shipment-receipt-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="mobo" type="tns:CustomerIDType" minOccurs="0" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="shipment-id" type="tns:ShipmentIDType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-shipment-receipt-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="shipment-receipt" type="tns:ShipmentReceiptType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="request-shipment-refund-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="mobo" type="tns:CustomerIDType" minOccurs="0" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="shipment-id" type="tns:ShipmentIDType" />
                        <xsd:element name="shipment-refund-request" type="tns:ShipmentRefundRequestType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="request-shipment-refund-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="shipment-refund-request-info" type="tns:ShipmentRefundRequestInfoType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="GroupsType">
                <xsd:sequence>
                    <xsd:element name="group-id" type="tns:GroupIDType" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ShipmentPriceType">
                <xsd:all>
                    <xsd:element name="service-code" type="tns:ServiceCodeType" />
                    <xsd:element name="base-amount" type="tns:CostTypeNonZero" />
                    <xsd:element name="priced-options" type="tns:PricedOptionsType" minOccurs="0" />
                    <xsd:element name="adjustments" type="tns:AdjustmentsType" minOccurs="0" />
                    <xsd:element name="pre-tax-amount" type="tns:CostTypeAllowsZero" />
                    <xsd:element name="gst-amount" type="tns:CostTypeAllowsZero" />
                    <xsd:element name="pst-amount" type="tns:CostTypeAllowsZero" />
                    <xsd:element name="hst-amount" type="tns:CostTypeAllowsZero" />
                    <xsd:element name="due-amount" type="tns:CostTypeAllowsZero" />
                    <xsd:element name="service-standard" type="tns:ServiceStandardType" />
                    <xsd:element name="rated-weight">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0" />
                                <xsd:maxInclusive value="999.999" />
                                <xsd:fractionDigits value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ServiceStandardType">
                <xsd:all>
                    <xsd:element name="am-delivery" type="xsd:boolean" />
                    <xsd:element name="guaranteed-delivery" type="xsd:boolean" />
                    <xsd:element name="expected-transmit-time" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                                <xsd:minInclusive value="0" />
                                <xsd:maxInclusive value="99" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="expected-delivery-date" type="xsd:date" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ShipmentReceiptType">
                <xsd:choice>
                    <xsd:element name="cc-receipt-details">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="merchant-name">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:normalizedString">
                                            <xsd:maxLength value="44" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="merchant-url">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:normalizedString">
                                            <xsd:maxLength value="60" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="name-on-card" type="tns:CcNameType" minOccurs="0"/>
                                <xsd:element name="auth-code" type="tns:CcAuthorizationCodeType" />
                                <xsd:element name="auth-timestamp" type="xsd:dateTime" />
                                <xsd:element name="card-type" type="tns:CcType" />
                                <xsd:element name="charge-amount" type="tns:CcAuthorizationAmountType" />
                                <xsd:element name="currency" type="tns:CurrencyType" />
                                <xsd:element name="transaction-type">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:normalizedString">
                                            <xsd:maxLength value="44" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="supplier-account-receipt-details">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="merchant-name">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:normalizedString">
                                            <xsd:maxLength value="44" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="merchant-url">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:normalizedString">
                                            <xsd:maxLength value="60" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="auth-code" type="tns:AuthorizationCodeType" />
                                <xsd:element name="auth-timestamp" type="xsd:dateTime" />
                                <xsd:element name="supplier-id" type="xsd:normalizedString" />
                                <xsd:element name="charge-amount" type="tns:AuthorizationAmountType" />
                                <xsd:element name="currency" type="tns:CurrencyType" />
                                <xsd:element name="transaction-type">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:normalizedString">
                                            <xsd:maxLength value="44" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:complexType>

            <xsd:simpleType name="LimitType">
                <xsd:restriction base="xsd:nonNegativeInteger">
                    <xsd:maxInclusive value="99999"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CcNameType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="40" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CcAuthorizationCodeType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CcType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:enumeration value="MC"/>
                    <xsd:enumeration value="VIS"/>
                    <xsd:enumeration value="AME"/>
                    <xsd:enumeration value="DC"/>
                    <xsd:enumeration value="DIS"/>
                    <xsd:enumeration value="ER"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CcAuthorizationAmountType">
                <xsd:restriction base="xsd:decimal">
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CurrencyType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="PricedOptionsType">
                <xsd:sequence>
                    <xsd:element name="priced-option" type="tns:PricedOptionType" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="PricedOptionType">
                <xsd:all>
                    <xsd:element name="option-code" type="xsd:normalizedString" />
                    <xsd:element name="option-price" minOccurs="0" type="tns:CostTypeAllowsNegative" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="AdjustmentsType">
                <xsd:sequence>
                    <xsd:element name="adjustment" type="tns:AdjustmentType" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="AdjustmentType">
                <xsd:all>
                    <xsd:element name="adjustment-code" type="xsd:normalizedString" />
                    <xsd:element name="adjustment-amount" type="tns:CostTypeAllowsNegative" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ShipmentsType">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="shipment-id" type="tns:ShipmentIDType" minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element name="shipment-info" type="tns:ShipmentInfoType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ShipmentInfoDetailType">
                <xsd:all>
                    <xsd:element name="customer-request-id" type="tns:CustomerRequestIdType" minOccurs="0" />
                    <xsd:element name="shipment-id" type="tns:ShipmentIDType"/>
                    <xsd:element name="shipment-status" type="tns:ShipmentStatusType"/>
                    <xsd:element name="tracking-pin" type="tns:TrackingPINType" minOccurs="0"/>
                    <xsd:element name="return-tracking-pin" type="tns:TrackingPINType" minOccurs="0"/>
                    <xsd:element name="po-number" type="tns:PoNumberType" minOccurs="0"/>
                    <xsd:element name="shipment-price" type="tns:ShipmentPriceType" minOccurs="0"/>
                    <xsd:element name="shipment-receipt" type="tns:ShipmentReceiptType" minOccurs="0"/>
                    <xsd:element name="group-id" type="tns:GroupIDType" minOccurs="0" />
                    <xsd:element name="artifacts" type="tns:ArtifactsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ShipmentInfoType">
                <xsd:all>
                    <xsd:element name="customer-request-id" type="tns:CustomerRequestIdType" minOccurs="0" />
                    <xsd:element name="shipment-id" type="tns:ShipmentIDType"/>
                    <xsd:element name="shipment-status" type="tns:ShipmentStatusType"/>
                    <xsd:element name="tracking-pin" type="tns:TrackingPINType" minOccurs="0"/>
                    <xsd:element name="return-tracking-pin" type="tns:TrackingPINType" minOccurs="0"/>
                    <xsd:element name="po-number" type="tns:PoNumberType" minOccurs="0"/>
                    <xsd:element name="group-id" type="tns:GroupIDType" minOccurs="0" />
                    <xsd:element name="artifacts" type="tns:ArtifactsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:element name="links">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:link" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="LinkType">
                <xsd:attribute name="href" type="xsd:anyURI" use="required"/>
                <xsd:attribute name="rel" type="tns:RelType" use="required"/>
                <xsd:attribute name="index" type="xsd:nonNegativeInteger" use="optional"/>
                <xsd:attribute name="media-type" type="xsd:normalizedString" use="required"/>
            </xsd:complexType>

            <xsd:element name="link" type="tns:LinkType"/>

            <!-- group-id and transmit-shipment are mutually exclusive -->
            <xsd:element name="groupIdOrTransmitShipment" abstract="true" />
            <xsd:element name="group-id" type="tns:GroupIDType" substitutionGroup="tns:groupIdOrTransmitShipment"/>
            <xsd:element name="transmit-shipment" type="xsd:boolean" fixed="true" substitutionGroup="tns:groupIdOrTransmitShipment"/>

            <xsd:complexType name="ShipmentType">
                <xsd:all>
					<xsd:element name="customer-request-id" type="tns:CustomerRequestIdType" minOccurs="0" />
                    <xsd:element ref="tns:groupIdOrTransmitShipment" />
                    <xsd:element name="quickship-label-requested" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="cpc-pickup-indicator" type="xsd:boolean" fixed="true" minOccurs="0"/>
                    <xsd:element name="requested-shipping-point" type="tns:PostalCodeType" minOccurs="0"/>
                    <xsd:element name="shipping-point-id" type="tns:OutletIDType" minOccurs="0" />
                    <xsd:element name="expected-mailing-date" type="xsd:date" minOccurs="0"/>
                    <xsd:element name="provide-pricing-info" type="xsd:boolean" fixed="true" minOccurs="0"/>
                    <xsd:element name="provide-receipt-info" type="xsd:boolean" fixed="true" minOccurs="0"/>
                    <xsd:element name="delivery-spec" type="tns:DeliverySpecType"/>
                    <xsd:element name="return-spec" type="tns:ReturnSpecType" minOccurs="0"/>
					<xsd:element name="pre-authorized-payment" type="tns:PreAuthorizedPaymentType" minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="DeliverySpecType">
                <xsd:all>
                    <xsd:element name="service-code" type="tns:ServiceCodeType" />
                    <xsd:element name="sender" type="tns:SenderType" />
                    <xsd:element name="destination" type="tns:DestinationType" />
                    <xsd:element name="options" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="option" type="tns:OptionType" maxOccurs="20" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="parcel-characteristics" type="tns:ParcelCharacteristicsType" />
                    <xsd:element name="notification" type="tns:NotificationType" minOccurs="0" />
                    <xsd:element name="print-preferences" type="tns:PrintPreferencesType" minOccurs="0" />
                    <xsd:element name="preferences" type="tns:PreferencesType" />
                    <xsd:element name="references" type="tns:ReferencesType" minOccurs="0" />
                    <xsd:element name="customs" type="tns:CustomsType" minOccurs="0" />
                    <xsd:element name="settlement-info" type="tns:SettlementInfoType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="CustomsType">
                <xsd:all>
                    <xsd:element name="currency">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1"/>
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="conversion-from-cad"  minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0"/>
                                <xsd:maxInclusive value="999.999999"/>
                                <xsd:fractionDigits value="6"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="reason-for-export">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1"/>
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="other-reason" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="sku-list">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="item" type="tns:SkuType" maxOccurs="500"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="duties-and-taxes-prepaid"  minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0"/>
                                <xsd:maxInclusive value="99999.99"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="certificate-number"  minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="licence-number"  minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="invoice-number"  minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="SkuType">
                <xsd:all>
                    <xsd:element name="customs-number-of-units">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:positiveInteger">
                                <xsd:minInclusive value="1"/>
                                <xsd:maxInclusive value="9999"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="customs-description">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1"/>
                                <xsd:maxLength value="45"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="sku" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="15"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="hs-tariff-code" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="\d{4}(\.\d{2}(\.\d{2}(\.\d{2})?)?)?"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="unit-weight">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0"/>
                                <xsd:maxInclusive value="99.999"/>
                                <xsd:fractionDigits value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="customs-value-per-unit">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0"/>
                                <xsd:maxInclusive value="99999.99"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="customs-unit-of-measure" type="tns:CustomsUnitOfMeasure" minOccurs="0"/>
                    <xsd:element name="country-of-origin" type="tns:CountryCodeType" minOccurs="0" />
                    <xsd:element name="province-of-origin" type="tns:ProvinceType" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="SenderType">
                <xsd:all>
                    <xsd:element name="name" type="tns:ContactNameType" minOccurs="0" />
                    <xsd:element name="company" type="tns:CompanyNameType" />
                    <xsd:element name="contact-phone" type="tns:PhoneNumberType" maxOccurs="1" />
                    <xsd:element name="address-details" type="tns:AddressDetailsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="DestinationType">
                <xsd:all>
                    <xsd:element name="name" type="tns:ContactNameType" minOccurs="0" />
                    <xsd:element name="company" type="tns:CompanyNameType" minOccurs="0" />
                    <xsd:element name="additional-address-info" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="client-voice-number" type="tns:PhoneNumberType" minOccurs="0" />
                    <xsd:element name="address-details" type="tns:DestinationAddressDetailsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="RecipientAddressType">
                <xsd:all>
                    <xsd:element name="name" type="tns:ContactNameType" minOccurs="0" />
                    <xsd:element name="company" type="tns:CompanyNameType" minOccurs="0" />
                    <xsd:element name="additional-address-info" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="client-voice-number" type="tns:PhoneNumberType" minOccurs="0" />
                    <xsd:element name="address-details" type="tns:DestinationAddressDetailsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ReturnSpecType">
                <xsd:all>
                    <xsd:element name="service-code" type="tns:ServiceCodeType" />
                    <xsd:element name="return-recipient" type="tns:ReturnRecipientType" />
                    <xsd:element name="return-notification" type="tns:EmailType" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ReturnRecipientType">
                <xsd:all>
                    <xsd:element name="name" type="tns:ContactNameType" minOccurs="0" />
                    <xsd:element name="company" type="tns:CompanyNameType" minOccurs="0" />
                    <xsd:element name="address-details" type="tns:DomesticAddressDetailsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="DomesticAddressDetailsType">
                <xsd:all>
                    <xsd:element name="address-line-1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="address-line-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="city">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="40" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="prov-state" type="tns:ProvinceType" />
                    <xsd:element name="postal-zip-code" type="tns:PostalCodeType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="AddressDetailsType">
                <xsd:all>
                    <xsd:element name="address-line-1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="address-line-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="city">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="40" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="prov-state" type="tns:ProvinceStateOrInternationalType"  minOccurs="0" />
                    <xsd:element name="country-code" type="tns:CountryCodeType" />
                    <xsd:element name="postal-zip-code" type="tns:PostalCodeOrZipOrInternationalType" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="DestinationAddressDetailsType">
                <xsd:all>
                    <xsd:element name="address-line-1" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="address-line-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="city" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="40" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="prov-state" type="tns:ProvinceStateOrInternationalType" minOccurs="0" />
                    <xsd:element name="country-code" type="tns:CountryCodeType" />
                    <xsd:element name="postal-zip-code" type="tns:PostalCodeOrZipOrInternationalType" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="OptionType">
                <xsd:all>
                    <xsd:element name="option-code">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="10" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="option-amount" type="tns:CostTypeNonZero" minOccurs="0" />
                    <xsd:element name="option-qualifier-1" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="option-qualifier-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="12" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ParcelCharacteristicsType">
                <xsd:all>
                    <xsd:element name="weight">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0" />
                                <xsd:maxInclusive value="999.999" />
                                <xsd:fractionDigits value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="dimensions" minOccurs="0">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="length" type="tns:DimensionMeasurementType" />
                                <xsd:element name="width" type="tns:DimensionMeasurementType" />
                                <xsd:element name="height" type="tns:DimensionMeasurementType" />
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="unpackaged" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="mailing-tube" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="oversized" type="xsd:boolean" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="NotificationType">
                <xsd:all>
                    <xsd:element name="email" type="tns:EmailType" />
                    <xsd:element name="on-shipment" type="xsd:boolean" />
                    <xsd:element name="on-exception" type="xsd:boolean" />
                    <xsd:element name="on-delivery" type="xsd:boolean" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="PrintPreferencesType">
                <xsd:all>
                    <xsd:element name="output-format" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="8.5x11" />
                                <xsd:enumeration value="4x6" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="encoding" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="PDF"/>
                                <xsd:enumeration value="ZPL"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="PreferencesType">
                <xsd:all>
                    <xsd:element name="show-packing-instructions" type="xsd:boolean" />
                    <xsd:element name="show-postage-rate" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="show-insured-value" type="xsd:boolean" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ReferencesType">
                <xsd:all>
                    <xsd:element name="cost-centre" type="tns:CostCentreIDType" minOccurs="0" />
                    <xsd:element name="customer-ref-1" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="35" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="customer-ref-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="35" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="SettlementInfoType">
                <xsd:all>
                    <xsd:element name="paid-by-customer" type="tns:CustomerIDType" minOccurs="0" />
                    <xsd:element name="contract-id" type="tns:ContractIDType" minOccurs="0" />
                    <xsd:element name="cif-shipment" type="xsd:boolean" fixed="true" minOccurs="0" />
                    <xsd:element name="intended-method-of-payment" type="tns:MethodOfPaymentType" />
                    <xsd:element name="promo-code" type="tns:PromoCodeType" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="PreAuthorizedPaymentType">
                <xsd:all>
                    <xsd:element name="account-number">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1"/>
                                <xsd:maxLength value="16"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="auth-code">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1"/>
                                <xsd:maxLength value="16"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="auth-timestamp" type="xsd:dateTime" />
                    <xsd:element name="charge-amount">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0"/>
                                <xsd:maxInclusive value="9999999.99"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:simpleType name="CostCentreIDType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="30" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="EmailType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:pattern value="(['_A-Za-z0-9\-\+]+)(\.['_A-Za-z0-9\-\+]+)*@([A-Za-z0-9\-]+)(\.[A-Za-z0-9\-]+)*(\.[A-Za-z]{2,5})" />
                    <xsd:maxLength value="60" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CompanyNameType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="44" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ContactNameType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="44" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="GroupIDType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="32" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="TrackingPINType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="11" />
                    <xsd:maxLength value="16" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ShipmentIDType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="32" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ShipmentStatusType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="14" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CustomerRequestIdType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="35" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PromoCodeType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="10" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="ShipmentDetailsType">
                <xsd:all>
                    <xsd:element name="customer-request-id" type="tns:CustomerRequestIdType" minOccurs="0" />
                    <xsd:element name="shipment-status" type="tns:ShipmentStatusType"/>
                    <xsd:element name="final-shipping-point" type="tns:PostalCodeType"/>
                    <xsd:element name="tracking-pin" type="tns:TrackingPINType" minOccurs="0"/>
                    <xsd:element name="po-number" type="tns:PoNumberType" minOccurs="0"/>
                    <xsd:element name="shipping-point-id" type="tns:OutletIDType" minOccurs="0" />
                    <xsd:element name="cpc-pickup-indicator" type="xsd:boolean" fixed="true" minOccurs="0"/>
                    <!--
                        Redefine ShipmentType locally without the requested-shipping-point element because it is mandatory
                        in the create shipment request but removed from the shipment details response.

                        <xsd:element name="shipment-detail" type="ShipmentType"/>
                    -->
                    <xsd:element name="shipment-detail">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element ref="tns:groupIdOrTransmitShipment" />
                                <xsd:element name="quickship-label-requested" type="xsd:boolean" minOccurs="0"/>
                                <xsd:element name="expected-mailing-date" type="xsd:date" minOccurs="0"/>
                                <xsd:element   name="delivery-spec">
                                    <xsd:complexType>
                                        <xsd:all>
                                            <xsd:element name="service-code" type="tns:ServiceCodeType"/>
                                            <xsd:element name="sender" type="tns:SenderType"/>
                                            <xsd:element name="destination" type="tns:DestinationType"/>
                                            <xsd:element name="recipient" type="tns:RecipientAddressType" minOccurs="0"/>
                                            <xsd:element name="options" minOccurs="0">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element name="option" type="tns:OptionType" maxOccurs="20"/>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="parcel-characteristics" type="tns:ParcelCharacteristicsType"/>
                                            <xsd:element name="notification" type="tns:NotificationType" minOccurs="0"/>
                                            <xsd:element name="print-preferences" type="tns:PrintPreferencesType" minOccurs="0"/>
                                            <xsd:element name="preferences" type="tns:PreferencesType"/>
                                            <xsd:element name="references" type="tns:ReferencesType" minOccurs="0"/>
                                            <xsd:element name="customs" type="tns:CustomsType" minOccurs="0"/>
                                            <xsd:element name="settlement-info" type="tns:SettlementInfoType"/>
                                        </xsd:all>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="return-spec" type="tns:ReturnSpecType" minOccurs="0"/>
                                <xsd:element name="refund-request-info" type="tns:ShipmentRefundRequestInfoType" minOccurs="0"/>
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ShipmentRefundRequestType">
                <xsd:all>
                    <xsd:element name="email" type="tns:EmailType"/>
                </xsd:all>
            </xsd:complexType>


            <xsd:complexType name="ShipmentRefundRequestInfoType">
                <xsd:all>
                    <xsd:element name="service-ticket-date" type="xsd:date"/>
                    <xsd:element name="service-ticket-id" type="xsd:normalizedString"/>
                </xsd:all>
            </xsd:complexType>


            <xsd:simpleType name="PoNumberType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[a-zA-Z0-9]{1,10}" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="OutletIDType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="4" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="ArtifactsType">
                <xsd:sequence>
                    <xsd:element name="artifact" type="tns:ArtifactType" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ArtifactType">
                <xsd:sequence>
                    <xsd:element name="artifact-id" type="tns:ArtifactIdType" />
                    <xsd:element name="page-index" type="tns:PageIndexType" />
                </xsd:sequence>
                <xsd:attribute name="type" type="tns:RelType" use="required" />
            </xsd:complexType>

            <xsd:simpleType name="ArtifactIdType">
                <xsd:restriction base="xsd:integer">
                    <xsd:minInclusive value="0" />
                    <xsd:maxInclusive value="999999999999999999" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PageIndexType">
                <xsd:restriction base="xsd:integer">
                    <xsd:minInclusive value="0" />
                    <xsd:maxInclusive value="99" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="RelType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="self" />
                    <xsd:enumeration value="details" />
                    <xsd:enumeration value="group" />
                    <xsd:enumeration value="shipment" />
                    <xsd:enumeration value="price" />
                    <xsd:enumeration value="label" />
                    <xsd:enumeration value="returnLabel" />
                    <xsd:enumeration value="commercialInvoice" />
                    <xsd:enumeration value="receipt"/>
                    <xsd:enumeration value="refund"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="AuthorizationCodeType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="16" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="AuthorizationAmountType">
                <xsd:restriction base="xsd:decimal">
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ProvinceStateOrInternationalType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="20" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PostalCodeOrZipOrInternationalType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="14" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PostalCodeType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Z]\d[A-Z]\d[A-Z]\d" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CountryCodeType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[a-zA-Z][a-zA-Z]" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CustomsUnitOfMeasure">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:length value="3" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ProvinceType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="2" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PhoneNumberType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="25" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CustomerIDType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{1,10}" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ContractIDType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{1,10}" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="MethodOfPaymentType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="15" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CostTypeNonZero">
                <xsd:restriction base="xsd:decimal">
                    <xsd:minExclusive value="0" />
                    <xsd:maxInclusive value="999999.99" />
                    <xsd:fractionDigits value="2" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CostTypeAllowsZero">
                <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0" />
                    <xsd:maxInclusive value="999999.99" />
                    <xsd:fractionDigits value="2" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CostTypeAllowsNegative">
                <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="-999999.99" />
                    <xsd:maxInclusive value="999999.99" />
                    <xsd:fractionDigits value="2" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ServiceCodeType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="32" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="DimensionMeasurementType">
                <xsd:restriction base="xsd:decimal">
                    <xsd:minExclusive value="0" />
                    <xsd:maxInclusive value="999.9" />
                    <xsd:fractionDigits value="1" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="messages">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="message">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="code" type="xsd:string" />
                                <xsd:element name="description" type="xsd:string" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="locale">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="([eE][nN]|[fF][rR])" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PlatformIDType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{1,10}" />
                </xsd:restriction>
            </xsd:simpleType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateShipmentRequest">
        <wsdl:part name="body" element="tns:create-shipment-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CreateShipmentResponse">
        <wsdl:part name="body" element="tns:create-shipment-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetShipmentRequest">
        <wsdl:part name="body" element="tns:get-shipment-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetShipmentResponse">
        <wsdl:part name="body" element="tns:get-shipment-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetShipmentDetailsRequest">
        <wsdl:part name="body" element="tns:get-shipment-details-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetShipmentDetailsResponse">
        <wsdl:part name="body" element="tns:get-shipment-details-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetShipmentPriceRequest">
        <wsdl:part name="body" element="tns:get-shipment-price-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetShipmentPriceResponse">
        <wsdl:part name="body" element="tns:get-shipment-price-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetGroupsRequest">
        <wsdl:part name="body" element="tns:get-groups-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetGroupsResponse">
        <wsdl:part name="body" element="tns:get-groups-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetShipmentsRequest">
        <wsdl:part name="body" element="tns:get-shipments-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetShipmentsResponse">
        <wsdl:part name="body" element="tns:get-shipments-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="VoidShipmentRequest">
        <wsdl:part name="body" element="tns:void-shipment-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="VoidShipmentResponse">
        <wsdl:part name="body" element="tns:void-shipment-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetShipmentReceiptRequest">
        <wsdl:part name="body" element="tns:get-shipment-receipt-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetShipmentReceiptResponse">
        <wsdl:part name="body" element="tns:get-shipment-receipt-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="RequestShipmentRefundRequest">
        <wsdl:part name="body" element="tns:request-shipment-refund-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="RequestShipmentRefundResponse">
        <wsdl:part name="body" element="tns:request-shipment-refund-response"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ShipmentPortType">
        <wsdl:operation name="CreateShipment">
            <wsdl:input message="tns:CreateShipmentRequest"></wsdl:input>
            <wsdl:output message="tns:CreateShipmentResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetShipment">
            <wsdl:input message="tns:GetShipmentRequest"></wsdl:input>
            <wsdl:output message="tns:GetShipmentResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetShipmentDetails">
            <wsdl:input message="tns:GetShipmentDetailsRequest"></wsdl:input>
            <wsdl:output message="tns:GetShipmentDetailsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetShipmentPrice">
            <wsdl:input message="tns:GetShipmentPriceRequest"></wsdl:input>
            <wsdl:output message="tns:GetShipmentPriceResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetGroups">
            <wsdl:input message="tns:GetGroupsRequest"></wsdl:input>
            <wsdl:output message="tns:GetGroupsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetShipments">
            <wsdl:input message="tns:GetShipmentsRequest"></wsdl:input>
            <wsdl:output message="tns:GetShipmentsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="VoidShipment">
            <wsdl:input message="tns:VoidShipmentRequest"></wsdl:input>
            <wsdl:output message="tns:VoidShipmentResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetShipmentReceipt">
            <wsdl:input message="tns:GetShipmentReceiptRequest"></wsdl:input>
            <wsdl:output message="tns:GetShipmentReceiptResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RequestShipmentRefund">
            <wsdl:input message="tns:RequestShipmentRefundRequest"></wsdl:input>
            <wsdl:output message="tns:RequestShipmentRefundResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Shipment" type="tns:ShipmentPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="CreateShipment">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/shipment/v8/CreateShipment" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetShipment">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/shipment/v8/GetShipment" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetShipmentDetails">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/shipment/v8/GetShipmentDetails" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetShipmentPrice">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/shipment/v8/GetShipmentPrice" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetGroups">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/shipment/v8/GetGroups" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetShipments">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/shipment/v8/GetShipments" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="VoidShipment">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/shipment/v8/VoidShipment" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetShipmentReceipt">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/shipment/v8/GetShipmentReceipt" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RequestShipmentRefund">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/shipment/v8/RequestShipmentRefund" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ShipmentService">
        <wsdl:port name="ShipmentPort" binding="tns:Shipment">
            <soap:address location="https://ct.soa-gw.canadapost.ca/rs/soap/shipment/v8" />
        </wsdl:port>
    </wsdl:service>

    <wsp:Policy wsu:Id="policy0" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <wsp:Policy>
                            <sp:WssUsernameToken10 />
                        </wsp:Policy>
                    </sp:UsernameToken>
                </sp:SupportingTokens>
            </wsp:All>
            <wsp:All>
                <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <wsp:Policy>
                            <sp:WssUsernameToken11 />
                        </wsp:Policy>
                    </sp:UsernameToken>
                </sp:SupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

</wsdl:definitions>
